//! **************************************************************************
// Written by: Map P.20131013 on Thu May 05 14:24:54 2016
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "C11" LEVEL 1;
COMP "tx" LOCATE = SITE "D12" LEVEL 1;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "ad_convstab" LOCATE = SITE "A5" LEVEL 1;
COMP "ad_busy" LOCATE = SITE "B8" LEVEL 1;
COMP "ad_cs" LOCATE = SITE "A8" LEVEL 1;
COMP "ad_rd" LOCATE = SITE "A6" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
COMP "ad_os<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "ad_os<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "ad_os<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "ad_reset" LOCATE = SITE "A7" LEVEL 1;
COMP "first_data" LOCATE = SITE "A9" LEVEL 1;
COMP "ad_data<10>" LOCATE = SITE "D16" LEVEL 1;
COMP "ad_data<11>" LOCATE = SITE "E15" LEVEL 1;
COMP "ad_data<12>" LOCATE = SITE "C9" LEVEL 1;
COMP "ad_data<13>" LOCATE = SITE "E11" LEVEL 1;
COMP "ad_data<14>" LOCATE = SITE "C10" LEVEL 1;
COMP "ad_data<15>" LOCATE = SITE "D11" LEVEL 1;
COMP "ad_data<0>" LOCATE = SITE "A11" LEVEL 1;
COMP "ad_data<1>" LOCATE = SITE "A12" LEVEL 1;
COMP "ad_data<2>" LOCATE = SITE "B12" LEVEL 1;
COMP "ad_data<3>" LOCATE = SITE "A13" LEVEL 1;
COMP "ad_data<4>" LOCATE = SITE "A14" LEVEL 1;
COMP "ad_data<5>" LOCATE = SITE "B14" LEVEL 1;
COMP "ad_data<6>" LOCATE = SITE "B15" LEVEL 1;
COMP "ad_data<7>" LOCATE = SITE "B16" LEVEL 1;
COMP "ad_data<8>" LOCATE = SITE "C15" LEVEL 1;
COMP "ad_data<9>" LOCATE = SITE "C16" LEVEL 1;
PIN u2/Mmult_ch1_reg[15]_PWR_3_o_MuLt_76_OUT_pins<92> = BEL
        "u2/Mmult_ch1_reg[15]_PWR_3_o_MuLt_76_OUT" PINNAME CLK;
PIN u2/Mmult_ch8_reg[15]_PWR_3_o_MuLt_83_OUT_pins<92> = BEL
        "u2/Mmult_ch8_reg[15]_PWR_3_o_MuLt_83_OUT" PINNAME CLK;
PIN u2/Mmult_ch7_reg[15]_PWR_3_o_MuLt_82_OUT_pins<92> = BEL
        "u2/Mmult_ch7_reg[15]_PWR_3_o_MuLt_82_OUT" PINNAME CLK;
PIN u2/Mmult_ch6_reg[15]_PWR_3_o_MuLt_81_OUT_pins<92> = BEL
        "u2/Mmult_ch6_reg[15]_PWR_3_o_MuLt_81_OUT" PINNAME CLK;
PIN u2/Mmult_ch5_reg[15]_PWR_3_o_MuLt_80_OUT_pins<92> = BEL
        "u2/Mmult_ch5_reg[15]_PWR_3_o_MuLt_80_OUT" PINNAME CLK;
PIN u2/Mmult_ch4_reg[15]_PWR_3_o_MuLt_79_OUT_pins<92> = BEL
        "u2/Mmult_ch4_reg[15]_PWR_3_o_MuLt_79_OUT" PINNAME CLK;
PIN u2/Mmult_ch3_reg[15]_PWR_3_o_MuLt_78_OUT_pins<92> = BEL
        "u2/Mmult_ch3_reg[15]_PWR_3_o_MuLt_78_OUT" PINNAME CLK;
PIN u2/Mmult_ch2_reg[15]_PWR_3_o_MuLt_77_OUT_pins<92> = BEL
        "u2/Mmult_ch2_reg[15]_PWR_3_o_MuLt_77_OUT" PINNAME CLK;
TIMEGRP sys_clk = BEL "u1/cnt_15" BEL "u1/cnt_14" BEL "u1/cnt_13" BEL
        "u1/cnt_12" BEL "u1/cnt_11" BEL "u1/cnt_10" BEL "u1/cnt_9" BEL
        "u1/cnt_8" BEL "u1/cnt_7" BEL "u1/cnt_6" BEL "u1/cnt_5" BEL "u1/cnt_4"
        BEL "u1/cnt_3" BEL "u1/cnt_2" BEL "u1/cnt_1" BEL "u1/cnt_0" BEL
        "u1/state_FSM_FFd2" BEL "u1/state_FSM_FFd3" BEL "u1/state_FSM_FFd1"
        BEL "u1/state_FSM_FFd4" BEL "u1/i_5" BEL "u1/i_4" BEL "u1/i_3" BEL
        "u1/i_2" BEL "u1/i_1" BEL "u1/i_0" BEL "u1/ad_ch8_15" BEL
        "u1/ad_ch8_14" BEL "u1/ad_ch8_13" BEL "u1/ad_ch8_12" BEL
        "u1/ad_ch8_11" BEL "u1/ad_ch8_10" BEL "u1/ad_ch8_9" BEL "u1/ad_ch8_8"
        BEL "u1/ad_ch8_7" BEL "u1/ad_ch8_6" BEL "u1/ad_ch8_5" BEL
        "u1/ad_ch8_4" BEL "u1/ad_ch8_3" BEL "u1/ad_ch8_2" BEL "u1/ad_ch8_1"
        BEL "u1/ad_ch8_0" BEL "u1/ad_ch7_15" BEL "u1/ad_ch7_14" BEL
        "u1/ad_ch7_13" BEL "u1/ad_ch7_12" BEL "u1/ad_ch7_11" BEL
        "u1/ad_ch7_10" BEL "u1/ad_ch7_9" BEL "u1/ad_ch7_8" BEL "u1/ad_ch7_7"
        BEL "u1/ad_ch7_6" BEL "u1/ad_ch7_5" BEL "u1/ad_ch7_4" BEL
        "u1/ad_ch7_3" BEL "u1/ad_ch7_2" BEL "u1/ad_ch7_1" BEL "u1/ad_ch7_0"
        BEL "u1/ad_ch6_15" BEL "u1/ad_ch6_14" BEL "u1/ad_ch6_13" BEL
        "u1/ad_ch6_12" BEL "u1/ad_ch6_11" BEL "u1/ad_ch6_10" BEL "u1/ad_ch6_9"
        BEL "u1/ad_ch6_8" BEL "u1/ad_ch6_7" BEL "u1/ad_ch6_6" BEL
        "u1/ad_ch6_5" BEL "u1/ad_ch6_4" BEL "u1/ad_ch6_3" BEL "u1/ad_ch6_2"
        BEL "u1/ad_ch6_1" BEL "u1/ad_ch6_0" BEL "u1/ad_ch5_15" BEL
        "u1/ad_ch5_14" BEL "u1/ad_ch5_13" BEL "u1/ad_ch5_12" BEL
        "u1/ad_ch5_11" BEL "u1/ad_ch5_10" BEL "u1/ad_ch5_9" BEL "u1/ad_ch5_8"
        BEL "u1/ad_ch5_7" BEL "u1/ad_ch5_6" BEL "u1/ad_ch5_5" BEL
        "u1/ad_ch5_4" BEL "u1/ad_ch5_3" BEL "u1/ad_ch5_2" BEL "u1/ad_ch5_1"
        BEL "u1/ad_ch5_0" BEL "u1/ad_ch4_15" BEL "u1/ad_ch4_14" BEL
        "u1/ad_ch4_13" BEL "u1/ad_ch4_12" BEL "u1/ad_ch4_11" BEL
        "u1/ad_ch4_10" BEL "u1/ad_ch4_9" BEL "u1/ad_ch4_8" BEL "u1/ad_ch4_7"
        BEL "u1/ad_ch4_6" BEL "u1/ad_ch4_5" BEL "u1/ad_ch4_4" BEL
        "u1/ad_ch4_3" BEL "u1/ad_ch4_2" BEL "u1/ad_ch4_1" BEL "u1/ad_ch4_0"
        BEL "u1/ad_ch3_15" BEL "u1/ad_ch3_14" BEL "u1/ad_ch3_13" BEL
        "u1/ad_ch3_12" BEL "u1/ad_ch3_11" BEL "u1/ad_ch3_10" BEL "u1/ad_ch3_9"
        BEL "u1/ad_ch3_8" BEL "u1/ad_ch3_7" BEL "u1/ad_ch3_6" BEL
        "u1/ad_ch3_5" BEL "u1/ad_ch3_4" BEL "u1/ad_ch3_3" BEL "u1/ad_ch3_2"
        BEL "u1/ad_ch3_1" BEL "u1/ad_ch3_0" BEL "u1/ad_ch2_15" BEL
        "u1/ad_ch2_14" BEL "u1/ad_ch2_13" BEL "u1/ad_ch2_12" BEL
        "u1/ad_ch2_11" BEL "u1/ad_ch2_10" BEL "u1/ad_ch2_9" BEL "u1/ad_ch2_8"
        BEL "u1/ad_ch2_7" BEL "u1/ad_ch2_6" BEL "u1/ad_ch2_5" BEL
        "u1/ad_ch2_4" BEL "u1/ad_ch2_3" BEL "u1/ad_ch2_2" BEL "u1/ad_ch2_1"
        BEL "u1/ad_ch2_0" BEL "u1/ad_ch1_15" BEL "u1/ad_ch1_14" BEL
        "u1/ad_ch1_13" BEL "u1/ad_ch1_12" BEL "u1/ad_ch1_11" BEL
        "u1/ad_ch1_10" BEL "u1/ad_ch1_9" BEL "u1/ad_ch1_8" BEL "u1/ad_ch1_7"
        BEL "u1/ad_ch1_6" BEL "u1/ad_ch1_5" BEL "u1/ad_ch1_4" BEL
        "u1/ad_ch1_3" BEL "u1/ad_ch1_2" BEL "u1/ad_ch1_1" BEL "u1/ad_ch1_0"
        BEL "u1/ad_reset" PIN
        "u2/Mmult_ch1_reg[15]_PWR_3_o_MuLt_76_OUT_pins<92>" PIN
        "u2/Mmult_ch8_reg[15]_PWR_3_o_MuLt_83_OUT_pins<92>" PIN
        "u2/Mmult_ch7_reg[15]_PWR_3_o_MuLt_82_OUT_pins<92>" PIN
        "u2/Mmult_ch6_reg[15]_PWR_3_o_MuLt_81_OUT_pins<92>" PIN
        "u2/Mmult_ch5_reg[15]_PWR_3_o_MuLt_80_OUT_pins<92>" PIN
        "u2/Mmult_ch4_reg[15]_PWR_3_o_MuLt_79_OUT_pins<92>" PIN
        "u2/Mmult_ch3_reg[15]_PWR_3_o_MuLt_78_OUT_pins<92>" PIN
        "u2/Mmult_ch2_reg[15]_PWR_3_o_MuLt_77_OUT_pins<92>" BEL "u2/ch8_sig_2"
        BEL "u2/ch8_sig_1" BEL "u2/ch7_sig_2" BEL "u2/ch7_sig_1" BEL
        "u2/ch6_sig_2" BEL "u2/ch6_sig_1" BEL "u2/ch5_sig_2" BEL
        "u2/ch5_sig_1" BEL "u2/ch4_sig_2" BEL "u2/ch4_sig_1" BEL
        "u2/ch3_sig_2" BEL "u2/ch3_sig_1" BEL "u2/ch2_sig_2" BEL
        "u2/ch2_sig_1" BEL "u2/ch1_sig_2" BEL "u2/ch1_sig_1" BEL
        "u2/bcd8_ist/rese_3" BEL "u2/bcd8_ist/rese_2" BEL "u2/bcd8_ist/rese_1"
        BEL "u2/bcd8_ist/rese_0" BEL "u2/bcd8_ist/resd<3:0>_3" BEL
        "u2/bcd8_ist/resd<3:0>_2" BEL "u2/bcd8_ist/resd<3:0>_1" BEL
        "u2/bcd8_ist/resd<3:0>_0" BEL "u2/bcd8_ist/resc<3:0>_3" BEL
        "u2/bcd8_ist/resc<3:0>_2" BEL "u2/bcd8_ist/resc<3:0>_1" BEL
        "u2/bcd8_ist/resc<3:0>_0" BEL "u2/bcd8_ist/resb<3:0>_3" BEL
        "u2/bcd8_ist/resb<3:0>_2" BEL "u2/bcd8_ist/resb<3:0>_1" BEL
        "u2/bcd8_ist/resb<3:0>_0" BEL "u2/bcd8_ist/resa<3:0>_3" BEL
        "u2/bcd8_ist/resa<3:0>_2" BEL "u2/bcd8_ist/resa<3:0>_1" BEL
        "u2/bcd8_ist/rhexb_9" BEL "u2/bcd8_ist/rhexb_8" BEL
        "u2/bcd8_ist/rhexb_7" BEL "u2/bcd8_ist/rhexb_6" BEL
        "u2/bcd8_ist/rhexb_5" BEL "u2/bcd8_ist/rhexb_3" BEL
        "u2/bcd8_ist/rhexb_2" BEL "u2/bcd8_ist/rhexb_1" BEL
        "u2/bcd8_ist/rhexc_13" BEL "u2/bcd8_ist/rhexc_12" BEL
        "u2/bcd8_ist/rhexc_11" BEL "u2/bcd8_ist/rhexc_10" BEL
        "u2/bcd8_ist/rhexc_9" BEL "u2/bcd8_ist/rhexc_8" BEL
        "u2/bcd8_ist/rhexc_7" BEL "u2/bcd8_ist/rhexc_6" BEL
        "u2/bcd8_ist/rhexc_5" BEL "u2/bcd8_ist/rhexc_3" BEL
        "u2/bcd8_ist/rhexc_2" BEL "u2/bcd8_ist/rhexc_1" BEL
        "u2/bcd8_ist/rhexd_18" BEL "u2/bcd8_ist/rhexd_17" BEL
        "u2/bcd8_ist/rhexd_15" BEL "u2/bcd8_ist/rhexd_13" BEL
        "u2/bcd8_ist/rhexd_12" BEL "u2/bcd8_ist/rhexd_11" BEL
        "u2/bcd8_ist/rhexd_10" BEL "u2/bcd8_ist/rhexd_9" BEL
        "u2/bcd8_ist/rhexd_8" BEL "u2/bcd8_ist/rhexd_7" BEL
        "u2/bcd8_ist/rhexd_6" BEL "u2/bcd8_ist/rhexd_5" BEL
        "u2/bcd8_ist/rhexd_3" BEL "u2/bcd8_ist/rhexd_2" BEL
        "u2/bcd8_ist/rhexd_1" BEL "u2/bcd8_ist/rhex_0_15" BEL
        "u2/bcd8_ist/rhex_0_14" BEL "u2/bcd8_ist/rhex_0_13" BEL
        "u2/bcd8_ist/rhex_0_12" BEL "u2/bcd8_ist/rhex_0_11" BEL
        "u2/bcd8_ist/rhex_0_10" BEL "u2/bcd8_ist/rhex_0_9" BEL
        "u2/bcd8_ist/rhex_0_8" BEL "u2/bcd8_ist/rhex_0_7" BEL
        "u2/bcd8_ist/rhex_0_6" BEL "u2/bcd8_ist/rhex_0_5" BEL
        "u2/bcd8_ist/rhex_0_4" BEL "u2/bcd7_ist/rese_3" BEL
        "u2/bcd7_ist/rese_2" BEL "u2/bcd7_ist/rese_1" BEL "u2/bcd7_ist/rese_0"
        BEL "u2/bcd7_ist/resd<3:0>_3" BEL "u2/bcd7_ist/resd<3:0>_2" BEL
        "u2/bcd7_ist/resd<3:0>_1" BEL "u2/bcd7_ist/resd<3:0>_0" BEL
        "u2/bcd7_ist/resc<3:0>_3" BEL "u2/bcd7_ist/resc<3:0>_2" BEL
        "u2/bcd7_ist/resc<3:0>_1" BEL "u2/bcd7_ist/resc<3:0>_0" BEL
        "u2/bcd7_ist/resb<3:0>_3" BEL "u2/bcd7_ist/resb<3:0>_2" BEL
        "u2/bcd7_ist/resb<3:0>_1" BEL "u2/bcd7_ist/resb<3:0>_0" BEL
        "u2/bcd7_ist/resa<3:0>_3" BEL "u2/bcd7_ist/resa<3:0>_2" BEL
        "u2/bcd7_ist/resa<3:0>_1" BEL "u2/bcd7_ist/rhexb_9" BEL
        "u2/bcd7_ist/rhexb_8" BEL "u2/bcd7_ist/rhexb_7" BEL
        "u2/bcd7_ist/rhexb_6" BEL "u2/bcd7_ist/rhexb_5" BEL
        "u2/bcd7_ist/rhexb_3" BEL "u2/bcd7_ist/rhexb_2" BEL
        "u2/bcd7_ist/rhexb_1" BEL "u2/bcd7_ist/rhexc_13" BEL
        "u2/bcd7_ist/rhexc_12" BEL "u2/bcd7_ist/rhexc_11" BEL
        "u2/bcd7_ist/rhexc_10" BEL "u2/bcd7_ist/rhexc_9" BEL
        "u2/bcd7_ist/rhexc_8" BEL "u2/bcd7_ist/rhexc_7" BEL
        "u2/bcd7_ist/rhexc_6" BEL "u2/bcd7_ist/rhexc_5" BEL
        "u2/bcd7_ist/rhexc_3" BEL "u2/bcd7_ist/rhexc_2" BEL
        "u2/bcd7_ist/rhexc_1" BEL "u2/bcd7_ist/rhexd_18" BEL
        "u2/bcd7_ist/rhexd_17" BEL "u2/bcd7_ist/rhexd_15" BEL
        "u2/bcd7_ist/rhexd_13" BEL "u2/bcd7_ist/rhexd_12" BEL
        "u2/bcd7_ist/rhexd_11" BEL "u2/bcd7_ist/rhexd_10" BEL
        "u2/bcd7_ist/rhexd_9" BEL "u2/bcd7_ist/rhexd_8" BEL
        "u2/bcd7_ist/rhexd_7" BEL "u2/bcd7_ist/rhexd_6" BEL
        "u2/bcd7_ist/rhexd_5" BEL "u2/bcd7_ist/rhexd_3" BEL
        "u2/bcd7_ist/rhexd_2" BEL "u2/bcd7_ist/rhexd_1" BEL
        "u2/bcd7_ist/rhex_0_15" BEL "u2/bcd7_ist/rhex_0_14" BEL
        "u2/bcd7_ist/rhex_0_13" BEL "u2/bcd7_ist/rhex_0_12" BEL
        "u2/bcd7_ist/rhex_0_11" BEL "u2/bcd7_ist/rhex_0_10" BEL
        "u2/bcd7_ist/rhex_0_9" BEL "u2/bcd7_ist/rhex_0_8" BEL
        "u2/bcd7_ist/rhex_0_7" BEL "u2/bcd7_ist/rhex_0_6" BEL
        "u2/bcd7_ist/rhex_0_5" BEL "u2/bcd7_ist/rhex_0_4" BEL
        "u2/bcd6_ist/rese_3" BEL "u2/bcd6_ist/rese_2" BEL "u2/bcd6_ist/rese_1"
        BEL "u2/bcd6_ist/rese_0" BEL "u2/bcd6_ist/resd<3:0>_3" BEL
        "u2/bcd6_ist/resd<3:0>_2" BEL "u2/bcd6_ist/resd<3:0>_1" BEL
        "u2/bcd6_ist/resd<3:0>_0" BEL "u2/bcd6_ist/resc<3:0>_3" BEL
        "u2/bcd6_ist/resc<3:0>_2" BEL "u2/bcd6_ist/resc<3:0>_1" BEL
        "u2/bcd6_ist/resc<3:0>_0" BEL "u2/bcd6_ist/resb<3:0>_3" BEL
        "u2/bcd6_ist/resb<3:0>_2" BEL "u2/bcd6_ist/resb<3:0>_1" BEL
        "u2/bcd6_ist/resb<3:0>_0" BEL "u2/bcd6_ist/resa<3:0>_3" BEL
        "u2/bcd6_ist/resa<3:0>_2" BEL "u2/bcd6_ist/resa<3:0>_1" BEL
        "u2/bcd6_ist/rhexb_9" BEL "u2/bcd6_ist/rhexb_8" BEL
        "u2/bcd6_ist/rhexb_7" BEL "u2/bcd6_ist/rhexb_6" BEL
        "u2/bcd6_ist/rhexb_5" BEL "u2/bcd6_ist/rhexb_3" BEL
        "u2/bcd6_ist/rhexb_2" BEL "u2/bcd6_ist/rhexb_1" BEL
        "u2/bcd6_ist/rhexc_13" BEL "u2/bcd6_ist/rhexc_12" BEL
        "u2/bcd6_ist/rhexc_11" BEL "u2/bcd6_ist/rhexc_10" BEL
        "u2/bcd6_ist/rhexc_9" BEL "u2/bcd6_ist/rhexc_8" BEL
        "u2/bcd6_ist/rhexc_7" BEL "u2/bcd6_ist/rhexc_6" BEL
        "u2/bcd6_ist/rhexc_5" BEL "u2/bcd6_ist/rhexc_3" BEL
        "u2/bcd6_ist/rhexc_2" BEL "u2/bcd6_ist/rhexc_1" BEL
        "u2/bcd6_ist/rhexd_18" BEL "u2/bcd6_ist/rhexd_17" BEL
        "u2/bcd6_ist/rhexd_15" BEL "u2/bcd6_ist/rhexd_13" BEL
        "u2/bcd6_ist/rhexd_12" BEL "u2/bcd6_ist/rhexd_11" BEL
        "u2/bcd6_ist/rhexd_10" BEL "u2/bcd6_ist/rhexd_9" BEL
        "u2/bcd6_ist/rhexd_8" BEL "u2/bcd6_ist/rhexd_7" BEL
        "u2/bcd6_ist/rhexd_6" BEL "u2/bcd6_ist/rhexd_5" BEL
        "u2/bcd6_ist/rhexd_3" BEL "u2/bcd6_ist/rhexd_2" BEL
        "u2/bcd6_ist/rhexd_1" BEL "u2/bcd6_ist/rhex_0_15" BEL
        "u2/bcd6_ist/rhex_0_14" BEL "u2/bcd6_ist/rhex_0_13" BEL
        "u2/bcd6_ist/rhex_0_12" BEL "u2/bcd6_ist/rhex_0_11" BEL
        "u2/bcd6_ist/rhex_0_10" BEL "u2/bcd6_ist/rhex_0_9" BEL
        "u2/bcd6_ist/rhex_0_8" BEL "u2/bcd6_ist/rhex_0_7" BEL
        "u2/bcd6_ist/rhex_0_6" BEL "u2/bcd6_ist/rhex_0_5" BEL
        "u2/bcd6_ist/rhex_0_4" BEL "u2/bcd5_ist/rese_3" BEL
        "u2/bcd5_ist/rese_2" BEL "u2/bcd5_ist/rese_1" BEL "u2/bcd5_ist/rese_0"
        BEL "u2/bcd5_ist/resd<3:0>_3" BEL "u2/bcd5_ist/resd<3:0>_2" BEL
        "u2/bcd5_ist/resd<3:0>_1" BEL "u2/bcd5_ist/resd<3:0>_0" BEL
        "u2/bcd5_ist/resc<3:0>_3" BEL "u2/bcd5_ist/resc<3:0>_2" BEL
        "u2/bcd5_ist/resc<3:0>_1" BEL "u2/bcd5_ist/resc<3:0>_0" BEL
        "u2/bcd5_ist/resb<3:0>_3" BEL "u2/bcd5_ist/resb<3:0>_2" BEL
        "u2/bcd5_ist/resb<3:0>_1" BEL "u2/bcd5_ist/resb<3:0>_0" BEL
        "u2/bcd5_ist/resa<3:0>_3" BEL "u2/bcd5_ist/resa<3:0>_2" BEL
        "u2/bcd5_ist/resa<3:0>_1" BEL "u2/bcd5_ist/rhexb_9" BEL
        "u2/bcd5_ist/rhexb_8" BEL "u2/bcd5_ist/rhexb_7" BEL
        "u2/bcd5_ist/rhexb_6" BEL "u2/bcd5_ist/rhexb_5" BEL
        "u2/bcd5_ist/rhexb_3" BEL "u2/bcd5_ist/rhexb_2" BEL
        "u2/bcd5_ist/rhexb_1" BEL "u2/bcd5_ist/rhexc_13" BEL
        "u2/bcd5_ist/rhexc_12" BEL "u2/bcd5_ist/rhexc_11" BEL
        "u2/bcd5_ist/rhexc_10" BEL "u2/bcd5_ist/rhexc_9" BEL
        "u2/bcd5_ist/rhexc_8" BEL "u2/bcd5_ist/rhexc_7" BEL
        "u2/bcd5_ist/rhexc_6" BEL "u2/bcd5_ist/rhexc_5" BEL
        "u2/bcd5_ist/rhexc_3" BEL "u2/bcd5_ist/rhexc_2" BEL
        "u2/bcd5_ist/rhexc_1" BEL "u2/bcd5_ist/rhexd_18" BEL
        "u2/bcd5_ist/rhexd_17" BEL "u2/bcd5_ist/rhexd_15" BEL
        "u2/bcd5_ist/rhexd_13" BEL "u2/bcd5_ist/rhexd_12" BEL
        "u2/bcd5_ist/rhexd_11" BEL "u2/bcd5_ist/rhexd_10" BEL
        "u2/bcd5_ist/rhexd_9" BEL "u2/bcd5_ist/rhexd_8" BEL
        "u2/bcd5_ist/rhexd_7" BEL "u2/bcd5_ist/rhexd_6" BEL
        "u2/bcd5_ist/rhexd_5" BEL "u2/bcd5_ist/rhexd_3" BEL
        "u2/bcd5_ist/rhexd_2" BEL "u2/bcd5_ist/rhexd_1" BEL
        "u2/bcd5_ist/rhex_0_15" BEL "u2/bcd5_ist/rhex_0_14" BEL
        "u2/bcd5_ist/rhex_0_13" BEL "u2/bcd5_ist/rhex_0_12" BEL
        "u2/bcd5_ist/rhex_0_11" BEL "u2/bcd5_ist/rhex_0_10" BEL
        "u2/bcd5_ist/rhex_0_9" BEL "u2/bcd5_ist/rhex_0_8" BEL
        "u2/bcd5_ist/rhex_0_7" BEL "u2/bcd5_ist/rhex_0_6" BEL
        "u2/bcd5_ist/rhex_0_5" BEL "u2/bcd5_ist/rhex_0_4" BEL
        "u2/bcd4_ist/rese_3" BEL "u2/bcd4_ist/rese_2" BEL "u2/bcd4_ist/rese_1"
        BEL "u2/bcd4_ist/rese_0" BEL "u2/bcd4_ist/resd<3:0>_3" BEL
        "u2/bcd4_ist/resd<3:0>_2" BEL "u2/bcd4_ist/resd<3:0>_1" BEL
        "u2/bcd4_ist/resd<3:0>_0" BEL "u2/bcd4_ist/resc<3:0>_3" BEL
        "u2/bcd4_ist/resc<3:0>_2" BEL "u2/bcd4_ist/resc<3:0>_1" BEL
        "u2/bcd4_ist/resc<3:0>_0" BEL "u2/bcd4_ist/resb<3:0>_3" BEL
        "u2/bcd4_ist/resb<3:0>_2" BEL "u2/bcd4_ist/resb<3:0>_1" BEL
        "u2/bcd4_ist/resb<3:0>_0" BEL "u2/bcd4_ist/resa<3:0>_3" BEL
        "u2/bcd4_ist/resa<3:0>_2" BEL "u2/bcd4_ist/resa<3:0>_1" BEL
        "u2/bcd4_ist/rhexb_9" BEL "u2/bcd4_ist/rhexb_8" BEL
        "u2/bcd4_ist/rhexb_7" BEL "u2/bcd4_ist/rhexb_6" BEL
        "u2/bcd4_ist/rhexb_5" BEL "u2/bcd4_ist/rhexb_3" BEL
        "u2/bcd4_ist/rhexb_2" BEL "u2/bcd4_ist/rhexb_1" BEL
        "u2/bcd4_ist/rhexc_13" BEL "u2/bcd4_ist/rhexc_12" BEL
        "u2/bcd4_ist/rhexc_11" BEL "u2/bcd4_ist/rhexc_10" BEL
        "u2/bcd4_ist/rhexc_9" BEL "u2/bcd4_ist/rhexc_8" BEL
        "u2/bcd4_ist/rhexc_7" BEL "u2/bcd4_ist/rhexc_6" BEL
        "u2/bcd4_ist/rhexc_5" BEL "u2/bcd4_ist/rhexc_3" BEL
        "u2/bcd4_ist/rhexc_2" BEL "u2/bcd4_ist/rhexc_1" BEL
        "u2/bcd4_ist/rhexd_18" BEL "u2/bcd4_ist/rhexd_17" BEL
        "u2/bcd4_ist/rhexd_15" BEL "u2/bcd4_ist/rhexd_13" BEL
        "u2/bcd4_ist/rhexd_12" BEL "u2/bcd4_ist/rhexd_11" BEL
        "u2/bcd4_ist/rhexd_10" BEL "u2/bcd4_ist/rhexd_9" BEL
        "u2/bcd4_ist/rhexd_8" BEL "u2/bcd4_ist/rhexd_7" BEL
        "u2/bcd4_ist/rhexd_6" BEL "u2/bcd4_ist/rhexd_5" BEL
        "u2/bcd4_ist/rhexd_3" BEL "u2/bcd4_ist/rhexd_2" BEL
        "u2/bcd4_ist/rhexd_1" BEL "u2/bcd4_ist/rhex_0_15" BEL
        "u2/bcd4_ist/rhex_0_14" BEL "u2/bcd4_ist/rhex_0_13" BEL
        "u2/bcd4_ist/rhex_0_12" BEL "u2/bcd4_ist/rhex_0_11" BEL
        "u2/bcd4_ist/rhex_0_10" BEL "u2/bcd4_ist/rhex_0_9" BEL
        "u2/bcd4_ist/rhex_0_8" BEL "u2/bcd4_ist/rhex_0_7" BEL
        "u2/bcd4_ist/rhex_0_6" BEL "u2/bcd4_ist/rhex_0_5" BEL
        "u2/bcd4_ist/rhex_0_4" BEL "u2/bcd3_ist/rese_3" BEL
        "u2/bcd3_ist/rese_2" BEL "u2/bcd3_ist/rese_1" BEL "u2/bcd3_ist/rese_0"
        BEL "u2/bcd3_ist/resd<3:0>_3" BEL "u2/bcd3_ist/resd<3:0>_2" BEL
        "u2/bcd3_ist/resd<3:0>_1" BEL "u2/bcd3_ist/resd<3:0>_0" BEL
        "u2/bcd3_ist/resc<3:0>_3" BEL "u2/bcd3_ist/resc<3:0>_2" BEL
        "u2/bcd3_ist/resc<3:0>_1" BEL "u2/bcd3_ist/resc<3:0>_0" BEL
        "u2/bcd3_ist/resb<3:0>_3" BEL "u2/bcd3_ist/resb<3:0>_2" BEL
        "u2/bcd3_ist/resb<3:0>_1" BEL "u2/bcd3_ist/resb<3:0>_0" BEL
        "u2/bcd3_ist/resa<3:0>_3" BEL "u2/bcd3_ist/resa<3:0>_2" BEL
        "u2/bcd3_ist/resa<3:0>_1" BEL "u2/bcd3_ist/rhexb_9" BEL
        "u2/bcd3_ist/rhexb_8" BEL "u2/bcd3_ist/rhexb_7" BEL
        "u2/bcd3_ist/rhexb_6" BEL "u2/bcd3_ist/rhexb_5" BEL
        "u2/bcd3_ist/rhexb_3" BEL "u2/bcd3_ist/rhexb_2" BEL
        "u2/bcd3_ist/rhexb_1" BEL "u2/bcd3_ist/rhexc_13" BEL
        "u2/bcd3_ist/rhexc_12" BEL "u2/bcd3_ist/rhexc_11" BEL
        "u2/bcd3_ist/rhexc_10" BEL "u2/bcd3_ist/rhexc_9" BEL
        "u2/bcd3_ist/rhexc_8" BEL "u2/bcd3_ist/rhexc_7" BEL
        "u2/bcd3_ist/rhexc_6" BEL "u2/bcd3_ist/rhexc_5" BEL
        "u2/bcd3_ist/rhexc_3" BEL "u2/bcd3_ist/rhexc_2" BEL
        "u2/bcd3_ist/rhexc_1" BEL "u2/bcd3_ist/rhexd_18" BEL
        "u2/bcd3_ist/rhexd_17" BEL "u2/bcd3_ist/rhexd_15" BEL
        "u2/bcd3_ist/rhexd_13" BEL "u2/bcd3_ist/rhexd_12" BEL
        "u2/bcd3_ist/rhexd_11" BEL "u2/bcd3_ist/rhexd_10" BEL
        "u2/bcd3_ist/rhexd_9" BEL "u2/bcd3_ist/rhexd_8" BEL
        "u2/bcd3_ist/rhexd_7" BEL "u2/bcd3_ist/rhexd_6" BEL
        "u2/bcd3_ist/rhexd_5" BEL "u2/bcd3_ist/rhexd_3" BEL
        "u2/bcd3_ist/rhexd_2" BEL "u2/bcd3_ist/rhexd_1" BEL
        "u2/bcd3_ist/rhex_0_15" BEL "u2/bcd3_ist/rhex_0_14" BEL
        "u2/bcd3_ist/rhex_0_13" BEL "u2/bcd3_ist/rhex_0_12" BEL
        "u2/bcd3_ist/rhex_0_11" BEL "u2/bcd3_ist/rhex_0_10" BEL
        "u2/bcd3_ist/rhex_0_9" BEL "u2/bcd3_ist/rhex_0_8" BEL
        "u2/bcd3_ist/rhex_0_7" BEL "u2/bcd3_ist/rhex_0_6" BEL
        "u2/bcd3_ist/rhex_0_5" BEL "u2/bcd3_ist/rhex_0_4" BEL
        "u2/bcd2_ist/rese_3" BEL "u2/bcd2_ist/rese_2" BEL "u2/bcd2_ist/rese_1"
        BEL "u2/bcd2_ist/rese_0" BEL "u2/bcd2_ist/resd<3:0>_3" BEL
        "u2/bcd2_ist/resd<3:0>_2" BEL "u2/bcd2_ist/resd<3:0>_1" BEL
        "u2/bcd2_ist/resd<3:0>_0" BEL "u2/bcd2_ist/resc<3:0>_3" BEL
        "u2/bcd2_ist/resc<3:0>_2" BEL "u2/bcd2_ist/resc<3:0>_1" BEL
        "u2/bcd2_ist/resc<3:0>_0" BEL "u2/bcd2_ist/resb<3:0>_3" BEL
        "u2/bcd2_ist/resb<3:0>_2" BEL "u2/bcd2_ist/resb<3:0>_1" BEL
        "u2/bcd2_ist/resb<3:0>_0" BEL "u2/bcd2_ist/resa<3:0>_3" BEL
        "u2/bcd2_ist/resa<3:0>_2" BEL "u2/bcd2_ist/resa<3:0>_1" BEL
        "u2/bcd2_ist/rhexb_9" BEL "u2/bcd2_ist/rhexb_8" BEL
        "u2/bcd2_ist/rhexb_7" BEL "u2/bcd2_ist/rhexb_6" BEL
        "u2/bcd2_ist/rhexb_5" BEL "u2/bcd2_ist/rhexb_3" BEL
        "u2/bcd2_ist/rhexb_2" BEL "u2/bcd2_ist/rhexb_1" BEL
        "u2/bcd2_ist/rhexc_13" BEL "u2/bcd2_ist/rhexc_12" BEL
        "u2/bcd2_ist/rhexc_11" BEL "u2/bcd2_ist/rhexc_10" BEL
        "u2/bcd2_ist/rhexc_9" BEL "u2/bcd2_ist/rhexc_8" BEL
        "u2/bcd2_ist/rhexc_7" BEL "u2/bcd2_ist/rhexc_6" BEL
        "u2/bcd2_ist/rhexc_5" BEL "u2/bcd2_ist/rhexc_3" BEL
        "u2/bcd2_ist/rhexc_2" BEL "u2/bcd2_ist/rhexc_1" BEL
        "u2/bcd2_ist/rhexd_18" BEL "u2/bcd2_ist/rhexd_17" BEL
        "u2/bcd2_ist/rhexd_15" BEL "u2/bcd2_ist/rhexd_13" BEL
        "u2/bcd2_ist/rhexd_12" BEL "u2/bcd2_ist/rhexd_11" BEL
        "u2/bcd2_ist/rhexd_10" BEL "u2/bcd2_ist/rhexd_9" BEL
        "u2/bcd2_ist/rhexd_8" BEL "u2/bcd2_ist/rhexd_7" BEL
        "u2/bcd2_ist/rhexd_6" BEL "u2/bcd2_ist/rhexd_5" BEL
        "u2/bcd2_ist/rhexd_3" BEL "u2/bcd2_ist/rhexd_2" BEL
        "u2/bcd2_ist/rhexd_1" BEL "u2/bcd2_ist/rhex_0_15" BEL
        "u2/bcd2_ist/rhex_0_14" BEL "u2/bcd2_ist/rhex_0_13" BEL
        "u2/bcd2_ist/rhex_0_12" BEL "u2/bcd2_ist/rhex_0_11" BEL
        "u2/bcd2_ist/rhex_0_10" BEL "u2/bcd2_ist/rhex_0_9" BEL
        "u2/bcd2_ist/rhex_0_8" BEL "u2/bcd2_ist/rhex_0_7" BEL
        "u2/bcd2_ist/rhex_0_6" BEL "u2/bcd2_ist/rhex_0_5" BEL
        "u2/bcd2_ist/rhex_0_4" BEL "u2/bcd1_ist/rese_3" BEL
        "u2/bcd1_ist/rese_2" BEL "u2/bcd1_ist/rese_1" BEL "u2/bcd1_ist/rese_0"
        BEL "u2/bcd1_ist/resd<3:0>_3" BEL "u2/bcd1_ist/resd<3:0>_2" BEL
        "u2/bcd1_ist/resd<3:0>_1" BEL "u2/bcd1_ist/resd<3:0>_0" BEL
        "u2/bcd1_ist/resc<3:0>_3" BEL "u2/bcd1_ist/resc<3:0>_2" BEL
        "u2/bcd1_ist/resc<3:0>_1" BEL "u2/bcd1_ist/resc<3:0>_0" BEL
        "u2/bcd1_ist/resb<3:0>_3" BEL "u2/bcd1_ist/resb<3:0>_2" BEL
        "u2/bcd1_ist/resb<3:0>_1" BEL "u2/bcd1_ist/resb<3:0>_0" BEL
        "u2/bcd1_ist/resa<3:0>_3" BEL "u2/bcd1_ist/resa<3:0>_2" BEL
        "u2/bcd1_ist/resa<3:0>_1" BEL "u2/bcd1_ist/rhexb_9" BEL
        "u2/bcd1_ist/rhexb_8" BEL "u2/bcd1_ist/rhexb_7" BEL
        "u2/bcd1_ist/rhexb_6" BEL "u2/bcd1_ist/rhexb_5" BEL
        "u2/bcd1_ist/rhexb_3" BEL "u2/bcd1_ist/rhexb_2" BEL
        "u2/bcd1_ist/rhexb_1" BEL "u2/bcd1_ist/rhexc_13" BEL
        "u2/bcd1_ist/rhexc_12" BEL "u2/bcd1_ist/rhexc_11" BEL
        "u2/bcd1_ist/rhexc_10" BEL "u2/bcd1_ist/rhexc_9" BEL
        "u2/bcd1_ist/rhexc_8" BEL "u2/bcd1_ist/rhexc_7" BEL
        "u2/bcd1_ist/rhexc_6" BEL "u2/bcd1_ist/rhexc_5" BEL
        "u2/bcd1_ist/rhexc_3" BEL "u2/bcd1_ist/rhexc_2" BEL
        "u2/bcd1_ist/rhexc_1" BEL "u2/bcd1_ist/rhexd_18" BEL
        "u2/bcd1_ist/rhexd_17" BEL "u2/bcd1_ist/rhexd_15" BEL
        "u2/bcd1_ist/rhexd_13" BEL "u2/bcd1_ist/rhexd_12" BEL
        "u2/bcd1_ist/rhexd_11" BEL "u2/bcd1_ist/rhexd_10" BEL
        "u2/bcd1_ist/rhexd_9" BEL "u2/bcd1_ist/rhexd_8" BEL
        "u2/bcd1_ist/rhexd_7" BEL "u2/bcd1_ist/rhexd_6" BEL
        "u2/bcd1_ist/rhexd_5" BEL "u2/bcd1_ist/rhexd_3" BEL
        "u2/bcd1_ist/rhexd_2" BEL "u2/bcd1_ist/rhexd_1" BEL
        "u2/bcd1_ist/rhex_0_15" BEL "u2/bcd1_ist/rhex_0_14" BEL
        "u2/bcd1_ist/rhex_0_13" BEL "u2/bcd1_ist/rhex_0_12" BEL
        "u2/bcd1_ist/rhex_0_11" BEL "u2/bcd1_ist/rhex_0_10" BEL
        "u2/bcd1_ist/rhex_0_9" BEL "u2/bcd1_ist/rhex_0_8" BEL
        "u2/bcd1_ist/rhex_0_7" BEL "u2/bcd1_ist/rhex_0_6" BEL
        "u2/bcd1_ist/rhex_0_5" BEL "u2/bcd1_ist/rhex_0_4" BEL "u3/u0/cnt_15"
        BEL "u3/u0/cnt_14" BEL "u3/u0/cnt_13" BEL "u3/u0/cnt_12" BEL
        "u3/u0/cnt_11" BEL "u3/u0/cnt_10" BEL "u3/u0/cnt_9" BEL "u3/u0/cnt_8"
        BEL "u3/u0/cnt_7" BEL "u3/u0/cnt_6" BEL "u3/u0/cnt_5" BEL
        "u3/u0/cnt_4" BEL "u3/u0/cnt_3" BEL "u3/u0/cnt_2" BEL "u3/u0/cnt_1"
        BEL "u3/u0/cnt_0" BEL "u3/u0/clkout" BEL "u1/ad_rd" BEL
        "u1/ad_convstab" BEL "u1/ad_cs" BEL "u2/bcd5_ist/rhexb_1_1" BEL
        "u2/bcd8_ist/rhexb_1_1" BEL "u2/bcd7_ist/rhexb_1_1" BEL
        "u2/bcd6_ist/rhexb_1_1" BEL "u2/bcd3_ist/rhexb_1_1" BEL
        "u2/bcd2_ist/rhexb_1_1" BEL "u2/bcd1_ist/rhexb_1_1" BEL
        "u2/bcd4_ist/rhexb_1_1" BEL "u2/bcd5_ist/rhexb_1_2" BEL
        "clk_BUFGP/BUFG" BEL "u2/bcd8_ist/Mshreg_resa_3" BEL
        "u2/bcd8_ist/resa_3" BEL "u2/bcd8_ist/Mshreg_rhexa_3" BEL
        "u2/bcd8_ist/rhexa_3" BEL "u2/bcd8_ist/Mshreg_rhexa_2" BEL
        "u2/bcd8_ist/rhexa_2" BEL "u2/bcd8_ist/Mshreg_rhexa_1" BEL
        "u2/bcd8_ist/rhexa_1" BEL "u2/bcd7_ist/Mshreg_resa_3" BEL
        "u2/bcd7_ist/resa_3" BEL "u2/bcd7_ist/Mshreg_rhexa_3" BEL
        "u2/bcd7_ist/rhexa_3" BEL "u2/bcd7_ist/Mshreg_rhexa_2" BEL
        "u2/bcd7_ist/rhexa_2" BEL "u2/bcd7_ist/Mshreg_rhexa_1" BEL
        "u2/bcd7_ist/rhexa_1" BEL "u2/bcd6_ist/Mshreg_resa_3" BEL
        "u2/bcd6_ist/resa_3" BEL "u2/bcd6_ist/Mshreg_rhexa_3" BEL
        "u2/bcd6_ist/rhexa_3" BEL "u2/bcd6_ist/Mshreg_rhexa_2" BEL
        "u2/bcd6_ist/rhexa_2" BEL "u2/bcd6_ist/Mshreg_rhexa_1" BEL
        "u2/bcd6_ist/rhexa_1" BEL "u2/bcd5_ist/Mshreg_resa_3" BEL
        "u2/bcd5_ist/resa_3" BEL "u2/bcd5_ist/Mshreg_rhexa_3" BEL
        "u2/bcd5_ist/rhexa_3" BEL "u2/bcd5_ist/Mshreg_rhexa_2" BEL
        "u2/bcd5_ist/rhexa_2" BEL "u2/bcd5_ist/Mshreg_rhexa_1" BEL
        "u2/bcd5_ist/rhexa_1" BEL "u2/bcd4_ist/Mshreg_resa_3" BEL
        "u2/bcd4_ist/resa_3" BEL "u2/bcd4_ist/Mshreg_rhexa_3" BEL
        "u2/bcd4_ist/rhexa_3" BEL "u2/bcd4_ist/Mshreg_rhexa_2" BEL
        "u2/bcd4_ist/rhexa_2" BEL "u2/bcd4_ist/Mshreg_rhexa_1" BEL
        "u2/bcd4_ist/rhexa_1" BEL "u2/bcd3_ist/Mshreg_resa_3" BEL
        "u2/bcd3_ist/resa_3" BEL "u2/bcd3_ist/Mshreg_rhexa_3" BEL
        "u2/bcd3_ist/rhexa_3" BEL "u2/bcd3_ist/Mshreg_rhexa_2" BEL
        "u2/bcd3_ist/rhexa_2" BEL "u2/bcd3_ist/Mshreg_rhexa_1" BEL
        "u2/bcd3_ist/rhexa_1" BEL "u2/bcd2_ist/Mshreg_resa_3" BEL
        "u2/bcd2_ist/resa_3" BEL "u2/bcd2_ist/Mshreg_rhexa_3" BEL
        "u2/bcd2_ist/rhexa_3" BEL "u2/bcd2_ist/Mshreg_rhexa_2" BEL
        "u2/bcd2_ist/rhexa_2" BEL "u2/bcd2_ist/Mshreg_rhexa_1" BEL
        "u2/bcd2_ist/rhexa_1" BEL "u2/bcd1_ist/Mshreg_resa_3" BEL
        "u2/bcd1_ist/resa_3" BEL "u2/bcd1_ist/Mshreg_rhexa_3" BEL
        "u2/bcd1_ist/rhexa_3" BEL "u2/bcd1_ist/Mshreg_rhexa_2" BEL
        "u2/bcd1_ist/rhexa_2" BEL "u2/bcd1_ist/Mshreg_rhexa_1" BEL
        "u2/bcd1_ist/rhexa_1";
TS_sys_clk = PERIOD TIMEGRP "sys_clk" 50 MHz HIGH 50%;
SCHEMATIC END;

