
##
NET clk LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##


##
NET rst_n                                    LOC = L3 | IOSTANDARD = "LVCMOS33"; ## Reset Button
##

########LED Pin define#####################
NET led_out<0>                        		    LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1
NET led_out<1>                       	       LOC = N5 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led_out<2>                                LOC = P5 | IOSTANDARD = "LVCMOS33";       ## LED3
NET led_out<3>                                LOC = M6 | IOSTANDARD = "LVCMOS33";       ## LED4

########KEY Pin define#####################
NET key_in<0>                        		     LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
NET key_in<1>                       	        LOC = D3 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET key_in<2>                                  LOC = E4 | IOSTANDARD = "LVCMOS33";       ## KEY3
NET key_in<3>                                  LOC = E3 | IOSTANDARD = "LVCMOS33";       ## KEY4